img {
    height: auto;
    width: 100%;
}

.vertical {
    height: 115px;
    display: flex;
    align-items: right;
    flex-wrap: wrap;
}
.page-header {
    margin-top: 0;
}
.panel-body {
    padding-top: 0;
}
.featureImg{
    padding-bottom: 15px;
}
body {
    background-color: white;
}
